Autores:

Alice Borges - @aliceborges42 (180011855)
Guilherme Coelho - @GuiCoelhoDev (160123046)
Mayara Chew - @mayarachew

In [341]:
import pandas as pd
import re

In [342]:
text = pd.read_csv('https://raw.githubusercontent.com/viniciusrpb/cic0269_natural_language_processing/main/diario_oficial_pref_sp/dosp_29012016.csv')

In [356]:
text.head(3)

,ID,Data,Retranca,Tipo do Conteúdo,Secretaria,Orgão,Texto,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,2016/01/29/0,2016-01-29T00:00:00Z,efmaadm,LICITAÇÕES,-,-,((TITULO))Extrato de Termo de Aditamento\n((TE...,NaN,NaN,NaN,NaN,NaN,NaN
1,2016/01/29/1,2016-01-29T00:00:00Z,efaaadm,LICITAÇÕES,CULTURA,GABINETE DO SECRETÁRIO,((TITULO))CONTRAÇÃO DE NATUREZA ARTÍSTICA\n\n(...,NaN,NaN,NaN,NaN,NaN,NaN
2,2016/01/29/2,2016-01-29T00:00:00Z,efmaadm,LICITAÇÕES,-,-,((TITULO))Extrato de Termo de Aditamento\n((TE...,NaN,NaN,NaN,NaN,NaN,NaN

In [344]:
texto1 = text['Texto'][0]
texto2 = text['Texto'][19]
texto3 = text['Texto'][2]
texto4 = text['Texto'][55]
texto5 = text['Texto'][28]

In [345]:
texto1

'((TITULO))Extrato de Termo de Aditamento\n((TEXTO))((NG))2013-0.009.972-7((CL)). OBJETO: Prorrogação Contratual da Escola de Dança de São Paulo, referente aos meses de janeiro a março de 2016. CONTRATANTE: ((NG))FTMSP/EDSP((CL)) e CONTRATADO: Sandra Lúcia Gomes; Função: Oficinas Práticas de Dança; Valor Total R$ 14.100,00. Termo de Aditamento nº 021/2016.\n\n'

In [346]:
texto2

'((TITULO))DEPARTAMENTO DE ALIMENTAÇÃO ESCOLAR\n((TEXTO))\n((NG))Do Processo N.º 2015-0.336.152-3((CL))\nInteressado: SME-DAE \nAssunto: Ata de RP nº 01/SME/DAE/2014 – Aquisição de leite em pó integral – Programa Leve-Leite\nDESPACHO\nI. À vista das informações que instruem o presente, notadamente a requisição de compras de fls. 14, a justificativa de quantitativos de fls. 02/14, a pesquisa de preços de fls. 60 e a manifestação da Assessoria Jurídica de fls. retro, AUTORIZO, pela competência delegada pela Portaria SME nº 4.772/15, mediante apresentação de documentação de regularidade fiscal e CADIN da empresa detentora da Ata, a utilização da Ata de Registro de Preços nº 01/SME/DAE/2014, cuja detentora é ALNUTRI ALIMENTOS LTDA., CNPJ 07.747.780/0001-87, para aquisição de 370.620 quilos de leite em pó, pelo valor estimado de R$ 4.714.286,40 (quatro milhões, setecentos e catorze mil e duzentos e oitenta e seis reais e quarenta centavos).\nII. As despesas decorrentes da contratação ora autorizada onerarão as dotações orçamentárias nº 1600.1624.12.306.3010.2.873.3.3.90.32.00.00.'

In [347]:
texto3

'((TITULO))Extrato de Termo de Aditamento\n((TEXTO))((NG))2013-0.009.972-7((CL)). OBJETO: Prorrogação Contratual da Escola de Dança de São Paulo, referente aos meses de janeiro a março de 2016. CONTRATANTE: ((NG))FTMSP/EDSP((CL)) e CONTRATADO: Cristina Carneiro; Função: Pianista junto as oficinas de Dança; Valor Total R$ 14.100,00 Termo de Aditamento nº 021/2016.\n\n'

In [348]:
texto4

'((TITULO)) DIRETORIA REGIONAL DE EDUCAÇÃO SÃO MATEUS\nDESPACHO DA DIRETORA REGIONAL\n((TEXTO))((NG))2014-0.162.291-3 ((CL)),Centro Social Nossa Senhora do Bom Parto, inscrito no CNPJ: 62.264.494/0001 - 79, aditamento de convênio – CEI Parque dos Bancários. I - À vista dos elementos constantes dos autos, em especial as manifestações da Assistente Técnica de Engenharia, do Setor de Demanda, do Setor de Convênios, do Setor de Contabilidade, da Supervisão Escolar, do Assistente Técnico Jurídico da Diretoria Regional de Educação São Mateus, que acolho e adoto como razões de decidir, ((NG))AUTORIZO((CL)), com fundamento nas Portarias SME nº 4.772/15, nº 3.477/2011 e alterações posteriores, o aditamento do Termo de Convênio nº 187/SME/2014-RI, firmado com a entidade convenente denominada “Centro Social Nossa Senhora do Bom Parto”, inscrito no CNPJ sob nº 62.264.494/0001-79, para funcionamento do CEI Parque dos Bancários, objetivando a alteração da faixa etária; redução do atendimento no berçário; ampliação da capacidade de atendimento para 240 crianças, na faixa etária de 1 a 3 anos, sendo 53 de berçário e mediante repasse mensal de R$ 116.406,40 e atualização do per capita nos termos da Portaria 3477/11 e alterações posteriores II - O aditamento será formalizado conforme a minuta de fls. 237; III - As despesas decorrentes da presente autorização onerarão a dotação orçamentária nº 16.23.12.365.3010.2.825.3.3.50.39.00.00; IV - A documentação exigida pela Portaria SME nº 3.477/2011 deverá estar em vigor no momento da efetiva celebração do aditamento.\n'

In [349]:
texto5

'((TITULO))Extrato de Termo de Aditamento\n((TEXTO))((NG))2013-0.009.972-7((CL)). OBJETO: Prorrogação Contratual da Escola de Dança de São Paulo, referente aos meses de janeiro a março de 2016. CONTRATANTE: ((NG))FTMSP/EDSP((CL)) e CONTRATADO: Sabine Marien Pissara; Função: Oficinas de Música; Valor Total R$ 14.100,00. Termo de Aditamento nº 021/2016.\n\n'

In [350]:
list_titulo = []

regex_titulo = r'\(\(TITULO\)\) ?([A-Za-zÃÇÍ ]+)\n'
list_titulo.append(re.findall(regex_titulo, texto1))
list_titulo.append(re.findall(regex_titulo, texto2))
list_titulo.append(re.findall(regex_titulo, texto3))
list_titulo.append(re.findall(regex_titulo, texto4))
list_titulo.append(re.findall(regex_titulo, texto5))

In [351]:
list_processo = []

regex_processo = r'\d{4}-\d.\d{3}.\d{3}-\d'

list_processo.append(re.findall(regex_processo, texto1))
list_processo.append(re.findall(regex_processo, texto2))
list_processo.append(re.findall(regex_processo, texto3))
list_processo.append(re.findall(regex_processo, texto4))
list_processo.append(re.findall(regex_processo, texto5))

In [352]:
list_real = []

regex_real = r'[R][$][ ][\d]*[.]?[\d]*[.]?[\d]*[,]?[\d]*'

list_real.append(re.findall(regex_real, texto1))
list_real.append(re.findall(regex_real, texto2))
list_real.append(re.findall(regex_real, texto3))
list_real.append(re.findall(regex_real, texto4))
list_real.append(re.findall(regex_real, texto5))

In [353]:
dataframe = pd.DataFrame()

In [354]:
dataframe['titulo'] = list_titulo
dataframe['processo'] = list_processo
dataframe['real'] = list_real

In [355]:
dataframe

,titulo,processo,real
0,[Extrato de Termo de Aditamento],[2013-0.009.972-7],"[R$ 14.100,00]"
1,[DEPARTAMENTO DE ALIMENTAÇÃO ESCOLAR],[2015-0.336.152-3],"[R$ 4.714.286,40]"
2,[Extrato de Termo de Aditamento],[2013-0.009.972-7],"[R$ 14.100,00]"
3,[DIRETORIA REGIONAL DE EDUCAÇÃO SÃO MATEUS],[2014-0.162.291-3],"[R$ 116.406,40]"
4,[Extrato de Termo de Aditamento],[2013-0.009.972-7],"[R$ 14.100,00]"