# Conversão de arquivos .csv para outros formatos

Notebook que faz conversões de um arquivo .csv para .parquet e .jsonl.

Dataset utilizado: https://www.kaggle.com/datasets/rtatman/digidb?resource=download

In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_csv('input/DigiDB_digimonlist.csv')

## Conversão .csv para .parquet

In [3]:
# Convert .csv to .parquet
df_parquet = df.to_parquet('output/DigiDB_digimonlist.parquet')

Verifica se a conversão deu certo revertendo a operação

In [4]:
df_parquet_csv = pd.read_parquet('output/DigiDB_digimonlist.parquet')
df_parquet_csv.to_csv('output/DigiDB_digimonlist_parquet.csv')

In [5]:
df_parquet_csv.head()

,Number,Digimon,Stage,Type,Attribute,Memory,Equip Slots,Lv 50 HP,Lv50 SP,Lv50 Atk,Lv50 Def,Lv50 Int,Lv50 Spd
0,1,Kuramon,Baby,Free,Neutral,2,0,590,77,79,69,68,95
1,2,Pabumon,Baby,Free,Neutral,2,0,950,62,76,76,69,68
2,3,Punimon,Baby,Free,Neutral,2,0,870,50,97,87,50,75
3,4,Botamon,Baby,Free,Neutral,2,0,690,68,77,95,76,61
4,5,Poyomon,Baby,Free,Neutral,2,0,540,98,54,59,95,86

## Conversão .csv para .jsonl

In [16]:
# Convert .csv to .jsonl file
df_json = df.to_json("output/DigiDB_digimonlist.jsonl", orient="records", lines=True)

Visualiza a primeira linha do arquivo

In [17]:
with open("output/DigiDB_digimonlist.jsonl") as f:
    lines = f.read()
    first_line = lines.split('\n', 1)[0]

print(first_line)

{"Number":1,"Digimon":"Kuramon","Stage":"Baby","Type":"Free","Attribute":"Neutral","Memory":2,"Equip Slots":0,"Lv 50 HP":590,"Lv50 SP":77,"Lv50 Atk":79,"Lv50 Def":69,"Lv50 Int":68,"Lv50 Spd":95}

Verifica se a conversão deu certo revertendo a operação

In [7]:
df_jsonl_csv = pd.read_json('output/DigiDB_digimonlist.jsonl', lines=True)
df_jsonl_csv.to_csv('output/DigiDB_digimonlist_jsonl.csv')

In [8]:
df_jsonl_csv.head()

,Number,Digimon,Stage,Type,Attribute,Memory,Equip Slots,Lv 50 HP,Lv50 SP,Lv50 Atk,Lv50 Def,Lv50 Int,Lv50 Spd
0,1,Kuramon,Baby,Free,Neutral,2,0,590,77,79,69,68,95
1,2,Pabumon,Baby,Free,Neutral,2,0,950,62,76,76,69,68
2,3,Punimon,Baby,Free,Neutral,2,0,870,50,97,87,50,75
3,4,Botamon,Baby,Free,Neutral,2,0,690,68,77,95,76,61
4,5,Poyomon,Baby,Free,Neutral,2,0,540,98,54,59,95,86

## Referências

- https://softhints.com/python-convert-json-to-json-lines/
- https://localcoder.org/read-json-file-as-pandas-dataframe
- https://galea.medium.com/how-to-love-jsonl-using-json-line-format-in-your-workflow-b6884f65175b